<a href="https://colab.research.google.com/github/Davidcarvajal14/PROGCOM-B/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Listas
Son un conjunto de objetos,
**indexado** separado por comas, y encerrado entre []
* TODOS LOS ELEMENTOS DENTRO DE UNA LISTA SE EMPIEZA A CONTAR DESDE 0.
## Creacion de listas
* Forma general: Lista[]
* forma manual: animales= [gato,perro,oso]
* por conversion: numeros= list(range(10))
* son objetos

In [ ]:
lista= []

In [2]:
lista= list(range[1,8])

TypeError: type 'range' is not subscriptable

In [1]:
lista.count()

NameError: name 'lista' is not defined

In [ ]:
type(lista)

list

In [ ]:
zorro=(1,2,3,4)
animales= ["gato","perro",zorro,"oso"]
animales

['gato', 'perro', (1, 2, 3, 4), 'oso']

In [ ]:
type(zorro)

In [ ]:
numero=list(range(10))
numero

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(10)

range(0, 10)

In [ ]:
type(range(10))

range

## Estructura para for
se usa cuando
* Se sabe cuantas veces se repite una accion
* Esta compuesta por un contador y condicion
* **contador**: Identifica cuantas veces se va a repetir el bucle y con que frecuencia
* **condicion**: Evalua cuando se detiene

por definicion:


```
for variable in range(vi, vf+1, paso):
    aqui se repite parte del codigo.
```
Donde
1. vi: condicion inicial. Donde arranco
a contar
2. vf+1: condicion final. Donde dejo de contar+1
3. paso: Frecuencia de conteo

for para recorrido de lista
flor= ["amapola","rosa","tulipan","orquidea"]
* El para va a iterar tantas veces como elementos tenga la lista
* La variable dentro del para, toma como valor, cada elemento de la lista
```
for variable in lista
    variable
```

In [ ]:
# Creando una lista de nombre flor
flor= ["amapola","rosa","tulipan","orquidea"]
for rosa in flor:
    print(rosa)
    if rosa == "tulipan":
        break #rompe la interaccion.

amapola
rosa
tulipan

In [2]:
nombre=[]
for nombres in range(5):
    nombre.append(input("ingrese su nombre: "))

ingrese su nombre: 1
ingrese su nombre: 2
ingrese su nombre: 3
ingrese su nombre: 4
ingrese su nombre: 5

In [3]:
nombre

['1', '2', '3', '4', '5']

## Estructura While
* Se emplea cuando ** NO SE SABE**  cuantas veces se debe repetir una accion, pero si se conoce su condicion de parada (CP).
* Condicion inicial: Donde arranca el ciclo
* Condicion final (parada): Que indica donde se detiene el ciclo
* Modificador de condicion inicial

Estructura del mientras


```
condicion inicial
while(condicion == condicion final):
    modificador de condicion inicial
```
Modificadores de condicion inicial
* Banderas: son boleanos
* Son pregintas
* Son contadores o acumuladores

##1	Escribe un programa que imprima los números del 1 al 10.

In [10]:
numeros=[]
for numeros in range(1,11):
    print(numeros)

1
2
3
4
5
6
7
8
9
10

In [16]:
nums=[1,2,3,4,5,6,7,8,9,10]
for numeros in nums:
    print(numeros)

1
2
3
4
5
6
7
8
9
10

## 2	Escribe un programa que sume los números del 1 al 100.

In [15]:
suma= 0
for nums in range (1,101):
    suma += nums
    print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [18]:
suma= 0
numeros=list(range(101))# Imprimimos numeros desde el 0 hsts el 100
for numeros in numeros:
    suma += numeros
    print(suma)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

## 3.Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [33]:
for multiplos in range(1,31):
    if multiplos %3==0:
        print(multiplos)

3
6
9
12
15
18
21
24
27
30

In [35]:
multiplos=list(range(1,31))
for multiplos in multiplos:
    if multiplos %3==0:
        print(multiplos)

3
6
9
12
15
18
21
24
27
30

## 4. Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

In [40]:
num1=input("Digite un numero")
for num in range (1,11):
    resultado= num * num1
    print(resultado)

Digite un numero2
2
22
222
2222
22222
222222
2222222
22222222
222222222
2222222222