<a href="https://colab.research.google.com/github/Davidcarvajal14/PROGCOM-B/blob/main/Lista_Taller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Taller: Resolver los siguientes ejercicios usando listas por comprensión

1. Crear una lista con los cuadrados de los números del 1 al 10.
2. Obtener una lista con los números pares del 0 al 20.
3. Crear una lista con el doble de cada número del 1 al 5.
4. De la palabra "programacion", obtener solo las vocales.
5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.
6. Crear una lista con "par" o "impar" para los números del 1 al 10.
7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.
8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].
9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.
10. Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"

In [2]:
#1.Crear una lista con los cuadrados de los números del 1 al 10.
cuadrados = [j ** 2 for j in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#2.Obtener una lista con los números pares del 0 al 20.
NumerosPares = [j for j in range(1,21) if j%2 == 0]
NumerosPares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
#3.Crear una lista con el doble de cada número del 1 al 5.
NumerosDobles = [k * 2 for k in range(1,6)]
NumerosDobles

[2, 4, 6, 8, 10]

In [5]:
#4. De la palabra "programacion", obtener solo las vocales.
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [6]:
#5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.
Programas = ["python", "java", "c++"]
Mayúsculas = [j.upper() for j in Programas]
Mayúsculas

['PYTHON', 'JAVA', 'C++']

In [7]:
#6. Crear una lista con "par" o "impar" para los números del 1 al 10.
ListaNumeros = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [("par",h) if h%2==0 else ("impar",h) for h in ListaNumeros]
clasificacion

[('impar', 1),
 ('par', 2),
 ('impar', 3),
 ('par', 4),
 ('impar', 5),
 ('par', 6),
 ('impar', 7),
 ('par', 8),
 ('impar', 9),
 ('par', 10)]

In [8]:
#7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.
ListaNumeros = [1,2,3,4,5]
NumerosCuadrados = [(r, "su cuadrado es" ,r**2 ) for r in ListaNumeros]
NumerosCuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

In [9]:
#8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].
Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [13]:
#9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.
palabras =["sol", "estrella", "mar", "planeta"]
filtro = [k for k in palabras if len(k) > 4]
filtro

['estrella', 'planeta']

In [14]:
# 10. Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"
n=list(range(1,31))
lista10=[("frío",r) if r<26 else ("templado",r) if r>=26 and r<=29 else ("caliente",r) for r in n]
lista10

[('frío', 1),
 ('frío', 2),
 ('frío', 3),
 ('frío', 4),
 ('frío', 5),
 ('frío', 6),
 ('frío', 7),
 ('frío', 8),
 ('frío', 9),
 ('frío', 10),
 ('frío', 11),
 ('frío', 12),
 ('frío', 13),
 ('frío', 14),
 ('frío', 15),
 ('frío', 16),
 ('frío', 17),
 ('frío', 18),
 ('frío', 19),
 ('frío', 20),
 ('frío', 21),
 ('frío', 22),
 ('frío', 23),
 ('frío', 24),
 ('frío', 25),
 ('templado', 26),
 ('templado', 27),
 ('templado', 28),
 ('templado', 29),
 ('caliente', 30)]